@font-face {
  font-family: 'Poppins Black', sans-serif;
  font-style: 600;
  font-weight: normal;
  src: local("Poppins Black"), url("@/assets/fonts/Poppins/Poppins-Black.ttf") format("ttf");
}

@font-face {
  font-family: "Poppins Black Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Black Italic"), url("@/assets/fonts/Poppins/Poppins-BlackItalic.ttf") format("ttf");
}

@font-face {
  font-family: "Poppins Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Bold"), url("@/assets/fonts/Poppins/Poppins-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Poppins Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Bold Italic"), url("@/assets/fonts/Poppins/Poppins-BoldItalic.ttf") format("ttf");
}

@font-face {
  font-family: "Poppins Extra Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Extra Bold"), url("@/assets/fonts/Poppins/Poppins-ExtraBold.ttf") format("ttf");
}

@font-face {
  font-family: "Poppins Extra Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Extra Bold Italic"), url("@/assets/fonts/Poppins/Poppins-ExtraBoldItalic.ttf") format("ttf");
}

@font-face {
  font-family: "Poppins Extra Light";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Extra Light"), url("@/assets/fonts/Poppins/Poppins-ExtraLight.ttf") format("ttf");
}

@font-face {
  font-family: "Poppins Extra Light Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Extra Light Italic"), url("@/assets/fonts/Poppins/Poppins-ExtraLightItalic.ttf") format("ttf");
}

@font-face {
  font-family: "Poppins Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Italic"), url("@/assets/fonts/Poppins/Poppins-Italic.ttf") format("ttf");
}

@font-face {
  font-family: "Poppins Light";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Light"), url("@/assets/fonts/Poppins/Poppins-Light.ttf") format("ttf");
}

@font-face {
  font-family: "Poppins Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Medium"), url("@/assets/fonts/Poppins/Poppins-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "Poppins Medium Light";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Medium Light"), url("@/assets/fonts/Poppins/Poppins-MediumLight.ttf") format("ttf");
}

@font-face {
  font-family: "Poppins Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Regular"), url("@/assets/fonts/Poppins/Poppins-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Poppins Semi Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Semi Bold"), url("@/assets/fonts/Poppins/Poppins-SemiBold.ttf") format("ttf");
}

@font-face {
  font-family: "Poppins Semi Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Semi Bold Italic"), url("@/assets/fonts/Poppins/Poppins-SemiBoldItalic.ttf") format("ttf");
}

@font-face {
  font-family: "Poppins Thin";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Thin"), url("@/assets/fonts/Poppins/Poppins-Thin.ttf") format("ttf");
}

@font-face {
  font-family: "Poppins Thin Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Thin Italic"), url("@/assets/fonts/Poppins/Poppins-ThinItalic.ttf") format("ttf");
}